.about-hero {
  padding: 116px 0 261px;
  background-color: $main-bg-color;
  background-image: url("../images/about-hero-bgi.png");
  background-repeat: no-repeat;
  background-size: 710px 596px;
  background-position: calc(50% + 405px) bottom;
}

.about-hero__inner {
  width: 372px;
}

.about-hero__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #000000;
}

.about-hero__description {
  margin-top: 0;
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

