.site-footer {
  padding: 40px 0;
  background-color: $main-bg-color;
}

.site-footer__inner {
  display: flex;
  align-items: center;
}

.social__list{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social__item + .social__item {
  margin-left: 30px;
}

.social__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333333;  
  text-decoration: none;
}

.menu--footer {
  margin-right: auto;
}