.hero {
  padding: 116px 0 249px;
  background-color: $main-bg-color;
  background-image: url("../images/hero-bgi.png");
  background-repeat: no-repeat;
  background-size: 710px 696px;
  background-position: calc(50% + 405px) bottom;
}

.hero__inner {
  width: 464px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #000000;
}

.hero__span {
  display: block;
}

.hero__description {
  margin-top: 0;
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.hero__link {
  display: inline-block;
  padding: 16px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  font-variant: small-caps;
  color: #FFFFFF;
  background: #0A775F;
  border-radius: 100px;
  text-decoration: none;
}



@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  .hero{
    background-image: url("../images/hero-bgi@2x.png");
  }
} 